@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/theme' as *;
@use '@carbon/react/scss/type' as *;

.root {
    min-height: 100vh;
    background-color: $background;
}

.header {
    >* {
        display: inline-flex;
        align-items: center;
        gap: $spacing-03;
        white-space: nowrap;
    }
}

.headerLogo {
    display: block;
    width: $spacing-07;
    height: $spacing-07;
}

.headerLabel {
    @include type-style('productive-heading-01');
}
